*{
    font-family: clear sans,Helvetica Neue,Helvetica, Arial, sans-seriff; 
}

body a:hover{
    color: teal;

}

#container1{
    width: 100%;
    height: 60px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-left: 15px;
    display: flex;
    gap: 10px;
     background-color: gray; 
      /* position: relative;
      position: fixed;   */
     /* margin-top: 20px; */


}
.a{
    display: flex;
    gap: 7px;
    margin-top: 18px; 
    margin-left: 60px;
    color: white;

}
a{
    text-decoration: none;
    /* color: white;  */
}
.a1{

   list-style: none;
}

.b{
    margin-left: 250px;
    font-size: 16px;
    margin-top: 10px;
    color: white;
    list-style: none;

}
#container2{
    width: 100%;
    height: 150px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    padding-left: 520px;
    /* position: absolute;
    position: fixed;
   */
}
#container3{
    
    width: 100%;
    height: 50px;
    padding-left: 80px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* margin-top: 10px; */
    display: flex;
    gap: 25px;
    font-size: 18px;
    list-style: none;
  
    
}
.c1{
    margin-top: 10px;
    
}
#menu{
    
    margin-right: 20px;
    
}
.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;

}
.submenu li{
    position: relative;
}
.submenu li :hover .submenu li{
    display: block;
}